<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>

		<link href='http://fonts.googleapis.com/css?family=Tangerine|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

		<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap-theme.min.css'>
		<link rel='stylesheet' href='/fontawesome/css/font-awesome.min.css'>
		<link rel='stylesheet' href='/stylesheets/style.css'>
	</head>
	<body class="frame-4">

		<!-- No Donation Thank You -->
		<section id="thanks" class="row boxes box-4">
			<div class="<%= settings.boxClass %>">
				<h1><%= title %></h1>
				<div class="chart-container" style="color: #333">
					<table class="table table-condensed table-striped table-bordered">
						<thead>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Date</th>
							<th>Time</th>
							<th>Weight</th>
							<th>Length</th>
							<th>Hair</th>
							<th>Eyes</th>
							<th>Comment</th>
						</thead>
						<tbody>
<% guesses.forEach(function(guess, i) { -%>
							<tr>
								<td><%= guess.firstName %> <%= guess.lastName %></td>
								<td><a href="mailto:<%= guess.email %>"><%= guess.email %></a></td>
								<td><%= guess.phone %></td>
								<td><%= guess.date %></td>
								<td><%= guess.time %></td>
								<td><%= guess.weight %></td>
								<td><%= guess.height %></td>
								<td><%= guess.hair %></td>
								<td><%= guess.eyes %></td>
								<td><%= guess.comments %></td>
							</tr>
<% }) -%>
						</tbody>
					</table>
				</div>
				<p class="text-center button-bottom">
					<a href="/" class="btn btn-primary btn-lg"><i class="fa fa-repeat"></i> Start Over</a>
					<a href="/results" class="btn btn-success btn-lg skip-to-results"><i class="fa fa-mortar-board"></i> See results</a>
				</p>
			</div>
		</section>

		<script>var defaultDate = <%= settings.dueDateString %>;</script>
		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>